<%= form_for(@product_datasheet,  :url => admin_product_datasheets_path, :html => { :multipart => true }) do |f| %>
<fieldset>
  <div class="col-md-3">&nbsp;</div>
  <div class="col-md-6">
    <center>
      <%= f.field_container :xls, class: ['form-group'] do %>
        <%= f.label Spree.t(:upload_a_product_datasheet) %>
        <%= f.file_field :xls, :class => 'form-control' %>
      <% end %>
      <div class="form-actions" data-hook="buttons">
        <%= button Spree.t('actions.create'), 'ok', 'submit', {class: 'btn-success'} %>
      </div>
    </center>
  </div>
</fieldset>
<% end %>
